<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/form.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>singup</title>
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
</head>

<body>
    <h1 style="text-align: center;">Sign Up</h1>
    <div id="alertboard">

    </div>
    <br>
    <div class="forms">
        <form onsubmit="addtodb(event)">
            Name:<input type="text" id="name" name="name" placeholder="please enter your name" required><br>
            Email:<input type="email" id="email" name="email" placeholder="Enter your Email ID" required><br>
            Phone Number: <input type="number" id="phone" name="phone" placeholder="Enter your Phone Number" required>
            <br>
            Password:<input type="password" id="pswd" name="pswd" placeholder="Enter your password" required><br>
            <button type="submit" id="sbtn">SUBMIT</button>
        </form>
    </div>
    

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
<script >
    
    const display=document.getElementById('alertboard');
    async function addtodb(event){
        try{
        event.preventDefault();
        const name=document.getElementById('name').value;
        const email=document.getElementById('email').value;
        const phone=document.getElementById('phone').value;
        const password=document.getElementById('pswd').value;
        const obj={name:name,email:email,phone:phone,password:password};
        // console.log('object value in obj', obj)
        const res= await axios.post(`http:// 65.1.112.255:3000/checkExistingUser`, obj);
        // console.log(res.data);
        if(res.data.user){
            alert('user already exist');
        }
        else{
            const resp=await axios.post(`http:// 65.1.112.255:3000/addUserToDB`, obj);
            alert('user signed up successfully');
            window.location.href=`http:// 65.1.112.255:3000/login`;
        }
        }
        catch(err){
            console.log(err);
            display.innerHTML=`something went wrong + ${err}`;
        }
    }

</script>

</html>